.Toaster__message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Toaster__manager-bottom-right .Toaster__message,
.Toaster__manager-top-right .Toaster__message {
  align-items: flex-end;
}

.Toaster__manager-bottom-left .Toaster__message,
.Toaster__manager-top-left .Toaster__message {
  align-items: flex-start;
}

.Toaster__message-wrapper {
  padding: 8px;
}
