.Toaster {
  --deceleration: cubic-bezier(0, 0, 0.2, 1);
  --acceleration: cubic-bezier(0.4, 0, 1, 1);
  --spring: cubic-bezier(0.175, 0.885, 0.32, 1.175);
  --duration: 240ms;
}

.Toaster__message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Toaster__message-wrapper {
  padding: 8px;
}
