body {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 32px;

  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%239C92AC' fill-opacity='0.2'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}

section {
  margin-top: 4rem;
  text-align: left;
  position: relative;
}

p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

h2 {
  font-weight: 300;
}

h4 {
  margin-bottom: 1rem;
}

.section-row {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

.section-row > * {
  box-sizing: border-box;
}

.section-row button {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
