.Toaster {
  --deceleration: cubic-bezier(0, 0, 0.2, 1);
  --acceleration: cubic-bezier(0.4, 0, 1, 1);
  --spring: cubic-bezier(0.175, 0.885, 0.32, 1.175);
  --duration: 240ms;
}

.Toaster__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  transition: all 240ms var(--deceleration);
}

.Toaster__message[data-state="entering"] {
  animation: ToasterOpenAnimation var(--duration) var(--spring) both;
}

.Toaster__message[data-state="exiting"] {
  animation: ToasterCloseAnimation 120ms var(--acceleration) both;
}

@keyframes ToasterOpenAnimation {
  from {
    opacity: 0;
    transform: translateY(-120%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes ToasterCloseAnimation {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

.Toaster__message-wrapper {
  padding: 8px;
}
